{% extends 'main.html' %}

{% block header_link %}
    <link rel="stylesheet" href="{{ url_for('static', path='product-detail.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <a href="{{ url_for("products") }}" class="back-link">بازگشت به لیست محصولات</a>

        <div class="product-detail">
            <div class="product-content">
                <!-- Product Image -->
                <div class="product-image">Product Image</div>

                <!-- Product Information -->
                <div class="product-info">
                    <h1>{{ product.name }}</h1>

                    <div class="price">{{ '{:,}'.format(product.price) }} تومان </div>


                    <div class="description">
                        {{ product.description }}
                    </div>

                    <!-- Specifications -->
                    <div class="specs">
                        <h3>Specifications</h3>
                        <div class="spec-item">
                            <span class="spec-label">Processor:</span>
                            <span class="spec-value">{{ product.processor }}</span>
                        </div>
                        <div class="spec-item">
                            <span class="spec-label">RAM:</span>
                            <span class="spec-value">{{ product.ram }}</span>
                        </div>
                        <div class="spec-item">
                            <span class="spec-label">Storage:</span>
                            <span class="spec-value">{{ product.storage }}</span>
                        </div>
                        <div class="spec-item">
                            <span class="spec-label">Display:</span>
                            <span class="spec-value">{{ product.display }}</span>
                        </div>
                        <div class="spec-item">
                            <span class="spec-label">Battery:</span>
                            <span class="spec-value">{{ product.battery }}</span>
                        </div>
                    </div>


                    <form action="{{ url_for('add_to_cart') }}" method="POST">
                        <label for="quantity">تعداد:</label>
                        <input type="number" id="quantity" name="quantity" class="quantity-input" value="1" min="1">
                        <input type="hidden" id="product_id" name="product_id" value="{{ product.id }}">
                        <button class="btn btn-primary">افزودن به سبد خرید</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}